@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: url(https://ak.picdn.net/shutterstock/videos/1066428118/thumb/1.jpg);
  
}
.hide-on-small{
  display: inline;
}
.container {
  display: flex;
  width: 100vw;
}
.head{
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  width:600px;
  background-image: linear-gradient(0.25turn, #F1646F, #CD7F63);
  color: white;
  border-radius: 20px;
  border-color: transparent;
}
.btn{
  width:300px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  background-image: linear-gradient(0.25turn, #F1646F, #CD7F63);
  color: white;
  border-radius: 20px;
  border-color: transparent;
}
.btn:hover{
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  width:300px;
  background-image: linear-gradient(0.25turn, #BB72D9, #D57079);
  color: white;
  border-radius: 20px;
  border-color: transparent;
}
a{
  text-decoration: none;
}
.head:hover{
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  width:600px;
  background-image: linear-gradient(0.25turn, #BB72D9, #D57079);
  color: white;
  border-radius: 20px;
  border-color: transparent;
}
.panel:hover{
  cursor:ew-resize;
}
.panel {
  flex-wrap: wrap-reverse;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 50px;
  color: #fff;
  flex:1;
  cursor: pointer;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 1.5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
@media (max-width: 768px) {
  .hide-on-small {
    display: none; /* Ẩn phần tử khi màn hình nhỏ hơn 768px */
  }}